.shoppingCart_main_container {
    width: 80%;
    margin: 0 auto;

    h1 {
        margin: 1em;
        text-align: center;
        text-transform: uppercase;
    }

    .content_container {
        display: grid;
        grid-template-columns: 1fr 25%;
        gap: 1em;
    }

    .item_container {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

        .item_top {
            display: grid;
            grid-template-columns: 10% 60% 1fr 1fr 1fr;
            border-bottom: 2px solid #d3d3d3;

            p {
                padding: 1em;


            }

        }

        article {
            display: grid;
            grid-template-columns: 10% 60% 1fr 1fr 1fr;
            border-bottom: 2px solid #d3d3d3;
            margin-top: 1em;
            align-items: center;

            figure {
                width: 80%;
                padding: 1em;

                img {
                    width: 100%;
                }
            }

            h2,
            p,
            button {
                padding: 1em;
            }

            .changeQuantity {
                display: flex;
                align-content: center;
                align-items: center;

                button {
                    padding-right: .5em;
                    padding-left: .5em;
                    height: 20px;
                    line-height: 2px;
                    text-align: center;
                }
            }

            .last {
                width: 60px;
                color: white;
                background-color: red;
                border: none;
                cursor: pointer;
            }
        }
    }

    .information_container {
        padding: 1em;
        background-color: #fff;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        align-items: center;
        height: 250px;
        display: grid;
        grid-template-rows: 2em 2em 2em 2em 1fr;

        p {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1em;

            span {
                justify-self: end;
            }


        }

        a {
            margin-top: 2em;
            display: block;
            padding: 1em;
            text-decoration: none;
            background-color: green;
            color: white;
            text-align: center;
            align-self: end;
        }
    }
}

.back_link {
    position: absolute;
    top: 1em;
    left: 1em;
}

.last {
    justify-self: end;
    margin-right: 1em;
}